<span id="github-ribbon"><a href="https://github.com/hpcarcher/2015-10-29-Leeds-DC">Fork me on Github</a></span>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<div class="row">
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.archer.ac.uk/" title="ARCHER">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/archer_logo_360.png" />
	  </a>
	</div>
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.epcc.ed.ac.uk" title="EPCC">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/epcc-25-logo.png" />
	  </a>
	</div>
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://www.software.ac.uk/" title="SSI">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/ssi.png" />
	  </a>
	</div>
	<div class="col-xs-3 col-md-3 column banner">
	  <a href="http://datacarpentry.github.io/" title="Data Carpentry">
	    <img alt="Software Carpentry banner" src="{{page.root}}/img/dc.png" />
	  </a>
	</div>
</div>